.main__container {
    max-width: 60rem;
    margin: 20rem auto auto auto;
}

.form__group {
    padding: 2rem 5rem;
    color: var(--dark);
    border-radius: 1rem;
    gap: 1rem;
}
input {
    border: 1px solid var(--gray);
}
.form__group > h4 {
    margin: 3rem auto 5rem auto;
}

.form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 100%;
    margin: 3rem auto 2rem auto;
    /* padding: 0; */
}

.register {
 cursor: pointer;   
}

.forgot__password {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .form__group {
        padding: 1rem;
    }
} 